.groundStats {
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    h4 {
        color: #6c646a;
        font-size: 14px;
        font-weight: 600;
    }
    img {
        width: 100%;
        border-radius: 10px;
        box-shadow:
            rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;

        transition: all 0.2s ease-in;
        &:hover {
            scale: 1.01;
        }
    }
}


@media screen and (770px <= width <=1030px){}
@media screen and (440px <= width <=770px){}
@media screen and (width <= 440px){
    .groundStats{
        img{
            width: 100% !important;
        }
    }
}
@media screen and (width <=390px){}