body {
    margin: 0;
    padding: 0;
    min-width: unset !important;
    min-height: 100vh !important;
    display: flex !important;
    align-items: unset !important;
    justify-content: unset !important;
    place-items: unset !important;

    .dashboard {
        display: flex;
        flex-direction: column;

        .topBar {
            display: flex;
            justify-content: space-between;
            padding: 15px 40px;

            .leftSide,
            .rightSide {
                display: flex;
                align-items: center;
                gap: 40px;
            }

            .leftSide {
                display: flex;
                align-items: center;
                gap: 45px;

                .logo {
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    a {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        img {
                            width: 40px;
                        }

                        h3 {
                            color: #413566;
                            font-size: 26px;
                            font-weight: 600;

                            span {
                                color: #ff5033;
                                font-weight: 600;
                            }
                        }
                    }
                }

                h3 {
                    color: #554585;
                    font-size: 26px;
                    font-weight: 600;
                }
            }

            .rightSide {
                .search {
                    display: flex;
                    align-items: center;
                    border: 1px solid #ff5033;
                    padding: 7px 10px;
                    border-radius: 30px;
                    background-color: white;

                    img {
                        width: 20px;
                        height: 20px;
                    }

                    input {
                        background-color: white;
                        padding-left: 10px;
                        outline: none;
                        border: none;
                        font-weight: 500;
                    }
                }

                .avatar {
                    border-radius: 50px;
                    object-fit: contain;
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .main {
            display: flex;

            .leftSideBar {
                flex: 1;

                display: flex;
                flex-direction: column;

                padding: 20px 0;
                gap: 40px;
                background-color: #413566;

                .logo {
                    padding: 0 30px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .active-custom-link {
                        background-color: #f5f7fa;
                        border-left: 5px solid #ff5033;
                        color: #ff5033;
                        font-weight: 700;

                        img {
                            color: #ff5033;
                        }
                    }

                    .custom-nav-link.active-custom-link {
                        &:hover {
                            background-color: #f5f7fa;
                            border-left: 5px solid #ff5033;
                            color: #ff5033;
                            font-weight: 700;

                            img {
                                color: #ff5033;
                            }
                        }
                    }
                    a {
                        li {
                            display: grid;
                            grid-template-columns: minmax(auto, 40px) auto;
                            align-items: center;
                            gap: 10px;
                            padding: 10px 30px;
                            color: white;
                            font-size: 18px;
                            font-weight: 600;
                            transition: all ease-in 0.2s;

                            &:hover {
                                background-color: #f5f7fa;
                                border-left: 5px solid #ff5033;
                                color: #ff5033;
                                font-weight: 700;

                                img {
                                    color: #ff5033;
                                }
                            }
                        }
                    }
                }
            }

            .MainContent {
                flex: 5;
                display: flex;
                flex-direction: column;
                background-color: #f5f7fa;

                .top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px 40px;

                    .heading {
                        display: flex;
                        flex-direction: column;

                        h3 {
                            font-size: 22px;
                            font-weight: 600;
                            color: #554585;
                        }

                        p {
                            font-size: 14px;
                            color: #b0afaf;
                            font-weight: 400;
                        }
                    }

                    button {
                        padding: 5px 40px;
                        border-radius: 10px;
                        font-weight: 500;
                        font-size: 18px;
                        text-align: center;
                        text-transform: uppercase;
                        background-color: #ff5033;
                        color: white;
                        border: none;
                        cursor: pointer;
                        transition: all ease-in 0.2s;

                        &:hover {
                            background-color: #e64023;
                            color: white;
                        }
                    }
                }

                .middle {
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 40px;
                        gap: 20px;

                        li {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: white;
                            width: 25%;
                            padding: 20px;
                            gap: 20px;
                            border-radius: 10px;
                            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                            img{
                                width: 35px;
                            }
                            .details {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                h3 {
                                    font-size: 26px;
                                    font-weight: 700;
                                }

                                p {
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: #b0afaf;
                                }
                            }
                        }
                    }
                }

                .bottom {
                    display: flex;
                    padding: 10px 40px;
                    gap: 20px;
                    .left {
                        display: flex;
                        flex-direction: column;
                        flex: 3.5;
                        gap: 20px;

                        .stats,
                        .statsChart {
                            padding: 20px;
                            background-color: white;
                            border-radius: 10px;
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        }

                        .stats {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            .toggleBtns {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 20px;
                                button {
                                    border: none;
                                    border-radius: 10px;
                                    font-size: 14px;
                                    padding: 10px 60px;
                                    background-color: white;
                                    color: #060606;
                                    box-shadow:
                                        rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                                        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                                    cursor: pointer;
                                    transition: background 0.2s ease-in;

                                    &:hover {
                                        background-color: #e5e5ee;
                                    }
                                }

                                .activeToggle {
                                    background-color: #e5e5ee;

                                    font-weight: 500;
                                }
                            }
                            .mainStats {
                                table {
                                    width: 100%;
                                    border-collapse: collapse;
                                    border-radius: 10px;
                                    overflow: hidden;
                                    cursor: pointer;
                                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                }

                                th,
                                td {
                                    border: 1px solid #ddd;
                                    padding: 10px;
                                    text-align: center;
                                }
                                th {
                                    background-color: #ff5033;
                                    color: white;
                                }
                                tr:nth-child(even) {
                                    background-color: #f2f2f2;
                                }

                                tr {
                                    &:hover {
                                        td {
                                            font-weight: 500;
                                        }
                                        scale: 1.01;
                                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                                    }
                                }
                            }
                            .moreStats {
                                display: flex;
                                justify-content: flex-end;
                            }
                        }
                    }
                    .right {
                        display: flex;
                        flex-direction: column;
                        flex: 1.5;
                        gap: 20px;
                        .nextMatch,
                        .upComingMatches,
                        .groundStats {
                            padding: 20px;
                            background-color: white;
                            border-radius: 10px;
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        }
                        .nextMatch, .upComingMatches{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 10px;
                            
                            hr {
                              
                                height: 1px !important; 
                                background-color: #E5E5EE; 
                                border: none;
                                margin: 10px 0; 
                                width: 100%;
                                
                              }
                            
                            h4{
                                color: #6C646A;
                                font-size: 14px;
                                font-weight: 600;
                            }
                            
                            .matches {
                                display: flex;
                                gap: 50px;
                                
                                .team1, .team2{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    img{
                                        width: 40px;
                                        
                                    }
                                    p{
                                        font-size: 12px;
                                        color: #6C646A;
                                    }
                                }
                                
                                .date{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    h3{
                                        font-size: 22px;
                                        font-weight: 600;
                                        color: #6C646A;
                                        span{
                                            font-size: 12px;
                                            color: #6C646A;
                                            
                                        }
                                    }
                                    p{
                                        font-size: 12px;
                                        color: #6C646A;
                                        
                                    }
                                }
                            }
                    
                        }
                        
                        
                    }
                }
            }
        }
    }
}

// .active {
//     border-bottom: none;

//     li {
//         color: #FF5033 !important;
//         background-color: #F5F7FA;
//         font-weight: bolder;
//         border-left: 5px solid #FF5033;
//     }
// }
