body {
  margin: 0;
  padding: 0;
  min-width: unset !important;
  min-height: 100vh !important;
  display: flex !important;
  align-items: unset !important;
  justify-content: unset !important;
  place-items: unset !important;
}
body .dashboard {
  display: flex;
  flex-direction: column;
}
body .dashboard .topBar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}
body .dashboard .topBar .leftSide,
body .dashboard .topBar .rightSide {
  display: flex;
  align-items: center;
  gap: 40px;
}
body .dashboard .topBar .leftSide {
  display: flex;
  align-items: center;
  gap: 45px;
}
body .dashboard .topBar .leftSide .logo {
  display: flex;
  align-items: center;
  gap: 30px;
}
body .dashboard .topBar .leftSide .logo a {
  display: flex;
  align-items: center;
  gap: 20px;
}
body .dashboard .topBar .leftSide .logo a img {
  width: 40px;
}
body .dashboard .topBar .leftSide .logo a h3 {
  color: #413566;
  font-size: 26px;
  font-weight: 600;
}
body .dashboard .topBar .leftSide .logo a h3 span {
  color: #ff5033;
  font-weight: 600;
}
body .dashboard .topBar .leftSide h3 {
  color: #554585;
  font-size: 26px;
  font-weight: 600;
}
body .dashboard .topBar .rightSide .search {
  display: flex;
  align-items: center;
  border: 1px solid #ff5033;
  padding: 7px 10px;
  border-radius: 30px;
  background-color: white;
}
body .dashboard .topBar .rightSide .search img {
  width: 20px;
  height: 20px;
}
body .dashboard .topBar .rightSide .search input {
  background-color: white;
  padding-left: 10px;
  outline: none;
  border: none;
  font-weight: 500;
}
body .dashboard .topBar .rightSide .avatar {
  border-radius: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 40px;
  height: 40px;
}
body .dashboard .main {
  display: flex;
}
body .dashboard .main .leftSideBar {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 40px;
  background-color: #413566;
}
body .dashboard .main .leftSideBar .logo {
  padding: 0 30px;
}
body .dashboard .main .leftSideBar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .dashboard .main .leftSideBar ul .active-custom-link {
  background-color: #f5f7fa;
  border-left: 5px solid #ff5033;
  color: #ff5033;
  font-weight: 700;
}
body .dashboard .main .leftSideBar ul .active-custom-link img {
  color: #ff5033;
}
body .dashboard .main .leftSideBar ul .custom-nav-link.active-custom-link:hover {
  background-color: #f5f7fa;
  border-left: 5px solid #ff5033;
  color: #ff5033;
  font-weight: 700;
}
body .dashboard .main .leftSideBar ul .custom-nav-link.active-custom-link:hover img {
  color: #ff5033;
}
body .dashboard .main .leftSideBar ul a li {
  display: grid;
  grid-template-columns: minmax(auto, 40px) auto;
  align-items: center;
  gap: 10px;
  padding: 10px 30px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: all ease-in 0.2s;
}
body .dashboard .main .leftSideBar ul a li:hover {
  background-color: #f5f7fa;
  border-left: 5px solid #ff5033;
  color: #ff5033;
  font-weight: 700;
}
body .dashboard .main .leftSideBar ul a li:hover img {
  color: #ff5033;
}
body .dashboard .main .MainContent {
  flex: 5;
  display: flex;
  flex-direction: column;
  background-color: #f5f7fa;
}
body .dashboard .main .MainContent .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}
body .dashboard .main .MainContent .top .heading {
  display: flex;
  flex-direction: column;
}
body .dashboard .main .MainContent .top .heading h3 {
  font-size: 22px;
  font-weight: 600;
  color: #554585;
}
body .dashboard .main .MainContent .top .heading p {
  font-size: 14px;
  color: #b0afaf;
  font-weight: 400;
}
body .dashboard .main .MainContent .top button {
  padding: 5px 40px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ff5033;
  color: white;
  border: none;
  cursor: pointer;
  transition: all ease-in 0.2s;
}
body .dashboard .main .MainContent .top button:hover {
  background-color: #e64023;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
body .dashboard .main .MainContent .middle ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  gap: 20px;
}
body .dashboard .main .MainContent .middle ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 25%;
  padding: 20px;
  gap: 20px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 0.2s ease-in;
}
body .dashboard .main .MainContent .middle ul li img {
  width: 35px;
}
body .dashboard .main .MainContent .middle ul li .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .dashboard .main .MainContent .middle ul li .details h3 {
  font-size: 26px;
  font-weight: 600;
}
body .dashboard .main .MainContent .middle ul li .details p {
  font-size: 16px;
  font-weight: 500;
  color: #b0afaf;
}
body .dashboard .main .MainContent .middle ul li:hover {
  scale: 1.01;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
body .dashboard .main .MainContent .bottom {
  display: flex;
  padding: 10px 40px;
  gap: 20px;
}
body .dashboard .main .MainContent .bottom .left {
  display: flex;
  flex-direction: column;
  flex: 3.5;
  gap: 20px;
}
body .dashboard .main .MainContent .bottom .left .stats,
body .dashboard .main .MainContent .bottom .left .statsChart {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body .dashboard .main .MainContent .bottom .left .stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .dashboard .main .MainContent .bottom .left .stats .toggleBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body .dashboard .main .MainContent .bottom .left .stats .toggleBtns button {
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 60px;
  background-color: white;
  color: #060606;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  cursor: pointer;
  transition: background 0.2s ease-in;
}
body .dashboard .main .MainContent .bottom .left .stats .toggleBtns button:hover {
  background-color: #e5e5ee;
  font-weight: 500;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
body .dashboard .main .MainContent .bottom .left .stats .toggleBtns .activeToggle {
  background-color: #e5e5ee;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-weight: 500;
}
body .dashboard .main .MainContent .bottom .left .stats .mainStats table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body .dashboard .main .MainContent .bottom .left .stats .mainStats th,
body .dashboard .main .MainContent .bottom .left .stats .mainStats td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
body .dashboard .main .MainContent .bottom .left .stats .mainStats th {
  background-color: #ff5033;
  color: white;
}
body .dashboard .main .MainContent .bottom .left .stats .mainStats tr:nth-child(even) {
  background-color: #f2f2f2;
}
body .dashboard .main .MainContent .bottom .left .stats .mainStats tr:hover {
  scale: 1.01;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
body .dashboard .main .MainContent .bottom .left .stats .mainStats tr:hover td {
  font-weight: 500;
}
body .dashboard .main .MainContent .bottom .left .stats .moreStats {
  display: flex;
  justify-content: flex-end;
}
body .dashboard .main .MainContent .bottom .right {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  gap: 20px;
}
body .dashboard .main .MainContent .bottom .right .nextMatch,
body .dashboard .main .MainContent .bottom .right .upComingMatches,
body .dashboard .main .MainContent .bottom .right .groundStats {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body .dashboard .main .MainContent .bottom .right .nextMatch,
body .dashboard .main .MainContent .bottom .right .upComingMatches {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
body .dashboard .main .MainContent .bottom .right .nextMatch hr,
body .dashboard .main .MainContent .bottom .right .upComingMatches hr {
  height: 1px !important;
  background-color: #e5e5ee;
  border: none;
  margin: 10px 0;
  width: 100%;
}
body .dashboard .main .MainContent .bottom .right .nextMatch h4,
body .dashboard .main .MainContent .bottom .right .upComingMatches h4 {
  color: #6c646a;
  font-size: 14px;
  font-weight: 600;
}
body .dashboard .main .MainContent .bottom .right .nextMatch .matches,
body .dashboard .main .MainContent .bottom .right .upComingMatches .matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s ease-in;
}
body .dashboard .main .MainContent .bottom .right .nextMatch .matches .team1,
body .dashboard .main .MainContent .bottom .right .nextMatch .matches .team2,
body .dashboard .main .MainContent .bottom .right .upComingMatches .matches .team1,
body .dashboard .main .MainContent .bottom .right .upComingMatches .matches .team2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
body .dashboard .main .MainContent .bottom .right .nextMatch .matches .team1 img,
body .dashboard .main .MainContent .bottom .right .nextMatch .matches .team2 img,
body .dashboard .main .MainContent .bottom .right .upComingMatches .matches .team1 img,
body .dashboard .main .MainContent .bottom .right .upComingMatches .matches .team2 img {
  width: 35px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px;
}
body .dashboard .main .MainContent .bottom .right .nextMatch .matches .team1 p,
body .dashboard .main .MainContent .bottom .right .nextMatch .matches .team2 p,
body .dashboard .main .MainContent .bottom .right .upComingMatches .matches .team1 p,
body .dashboard .main .MainContent .bottom .right .upComingMatches .matches .team2 p {
  text-align: center;
  font-size: 12px;
  color: #6c646a;
}
body .dashboard .main .MainContent .bottom .right .nextMatch .matches .date,
body .dashboard .main .MainContent .bottom .right .upComingMatches .matches .date {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .dashboard .main .MainContent .bottom .right .nextMatch .matches .date h3,
body .dashboard .main .MainContent .bottom .right .upComingMatches .matches .date h3 {
  font-size: 22px;
  font-weight: 600;
  color: #6c646a;
}
body .dashboard .main .MainContent .bottom .right .nextMatch .matches .date h3 span,
body .dashboard .main .MainContent .bottom .right .upComingMatches .matches .date h3 span {
  font-size: 12px;
  color: #6c646a;
}
body .dashboard .main .MainContent .bottom .right .nextMatch .matches .date p,
body .dashboard .main .MainContent .bottom .right .upComingMatches .matches .date p {
  font-size: 10px;
  color: #6c646a;
}
body .dashboard .main .MainContent .bottom .right .nextMatch .matches:hover,
body .dashboard .main .MainContent .bottom .right .upComingMatches .matches:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  scale: 1.03;
  border-radius: 10px;
}
body .dashboard .main .MainContent .bottom .right .nextMatch .next {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  scale: 1.03;
  border-radius: 10px;
}/*# sourceMappingURL=Dashboard.css.map */