body {
    margin: 0;
    padding: 0;
    min-width: unset !important;
    display: flex !important;
    align-items: unset !important;
    justify-content: unset !important;
    place-items: unset !important;

    .dashboard {
        display: flex;
        flex-direction: column;


        .main {
            display: flex;
            

            

            .ManagementContent,
            .ProfileContent,
            .SettingsContent {
                flex: 5;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 90vh;
                background-color: #f5f7fa;
            }
        }
    }
}






@media screen and (770px <= width <=1030px){}
@media screen and (440px <= width <=770px){}
@media screen and (width <= 440px){}
@media screen and (width <=390px){}