.stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .toggleBtns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        button {
            border: none;
            border-radius: 10px;
            font-size: 14px;
            padding: 10px 60px;
            background-color: white;
            color: #060606;
            box-shadow:
                rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
                rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

            cursor: pointer;
            transition: background 0.2s ease-in;

            &:hover {
                background-color: #e5e5ee;
                font-weight: 500;
                box-shadow:
                    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
        }

        .activeToggle {
            background-color: #e5e5ee;
            box-shadow:
                rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            font-weight: 500;
        }
    }
    .mainStats {
        table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #ff5033;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr {
            &:hover {
                td {
                    font-weight: 500;
                }
                scale: 1.01;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            }
        }
    }

    .moreStats {
        display: flex;
        justify-content: flex-end;
        ul {
            padding: 5px 20px;
            border-radius: 10px;
            background-color: #e5e5ee;
            display: flex;
            align-items: center;
            gap: 20px;
            li {
                color: #50424b;
                cursor: pointer;
            }

            .activeNum {
                color: #6c646a;
                font-weight: 600;
            }

            img {
                width: 15px;
            }
        }
    }
}

@media screen and (770px <= width <=1030px) {
    .stats .toggleBtns button{
        padding: 10px 30px;
    }

    .stats{
        .mainStats{
            overflow: scroll;
            table{
                font-size: 14px;
            }
        }
    }
}
@media screen and (440px <= width <=770px) {
    .stats .toggleBtns button {
        font-size: 12px;
        padding: 10px 30px;
    }

    .stats{
        .mainStats {
            overflow: scroll;
            table{
                font-size: 14px;
            }
        }
    }
}
@media screen and (width <= 440px) {
    .stats {
        padding: 10px !important;
        .mainStats {
            overflow: scroll;
        }
        .toggleBtns {
            button {
                padding: 10px;
                font-size: 12px;
            }
        }
    }
    .stats .mainStats table {
        font-size: 12px;
    }
    .stats .moreStats ul {
        gap: 10px !important;
    }
}
@media screen and (width <=390px) {
}
