.topBar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 99999;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.topBar .leftSide,
.topBar .rightSide {
  display: flex;
  align-items: center;
  gap: 40px;
}
.topBar .leftSide {
  display: flex;
  align-items: center;
  gap: 40px;
}
.topBar .leftSide .logo {
  display: flex;
  align-items: center;
  gap: 30px;
}
.topBar .leftSide .logo a {
  display: flex;
  align-items: center;
  gap: 20px;
}
.topBar .leftSide .logo a img {
  width: 40px;
}
.topBar .leftSide .logo a h3 {
  color: #413566;
  font-size: 26px;
  font-weight: 600;
}
.topBar .leftSide .logo a h3 span {
  color: #ff5033;
  font-weight: 600;
}
.topBar .leftSide h3 {
  color: #554585;
  font-size: 20px;
  font-weight: 600;
}
.topBar .rightSide .search {
  display: flex;
  align-items: center;
  border: 1px solid #ff5033;
  padding: 7px 10px;
  border-radius: 30px;
  background-color: white;
}
.topBar .rightSide .search img {
  width: 20px;
  height: 20px;
}
.topBar .rightSide .search input {
  background-color: white;
  padding-left: 10px;
  outline: none;
  border: none;
  font-weight: 500;
}
.topBar .rightSide .avatar {
  border-radius: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 40px;
  height: 40px;
}
.topBar .right .ham,
.topBar .right .close,
.topBar .right .menuLogo,
.topBar .open .ham,
.topBar .open .close,
.topBar .open .menuLogo {
  display: none;
}
.topBar .notOpen {
  right: -300px;
  display: none;
}
.topBar .notOpen .ham,
.topBar .notOpen .close,
.topBar .notOpen .menuLogo {
  display: none;
}
.topBar .open {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 9999;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  z-index: 99999;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.15) -7px 16px 4px 2px;
  transition: display 0.3s ease;
}
.topBar .open .top img {
  display: block;
  width: 20px;
}
.topBar .open .bottom {
  display: flex;
  flex-direction: column-reverse;
}
.topBar .open .bottom .imgs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.topBar .open .bottom .imgs .avatar {
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 40px;
}
.topBar .open .bottom .search {
  display: flex;
  align-items: center;
  border: 1px solid #ff5033;
  padding: 7px 10px;
  border-radius: 30px;
  background-color: white;
}
.topBar .open .bottom .search img {
  width: 20px;
  height: 20px;
}
.topBar .open .bottom .search input {
  background-color: white;
  padding-left: 10px;
  outline: none;
  border: none;
  font-weight: 500;
}
.topBar .avtar {
  display: none;
}

@media screen and (440px <= width <= 770px) {
  .topBar .notOpen {
    display: none !important;
  }
  .topBar .leftSide .pageTitle {
    display: none;
  }
}
@media screen and (width <= 440px) {
  .topBar .rightSide {
    display: none !important;
  }
  .topBar .leftSide .pageTitle {
    display: none;
  }
  .avtar {
    display: block !important;
  }
  .topBar .leftSide .logo a h3 {
    font-size: 24px;
  }
}/*# sourceMappingURL=TopBar.css.map */