.topBar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    z-index: 99999;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    .leftSide,
    .rightSide {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .leftSide {
        display: flex;
        align-items: center;
        gap: 40px;

        .logo {
            display: flex;
            align-items: center;
            gap: 30px;

            a {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    width: 40px;
                }

                h3 {
                    color: #413566;
                    font-size: 26px;
                    font-weight: 600;

                    span {
                        color: #ff5033;
                        font-weight: 600;
                    }
                }
            }
        }

        h3 {
            color: #554585;
            font-size: 26px;
            font-weight: 600;
        }
    }

    .rightSide {
        .search {
            display: flex;
            align-items: center;
            border: 1px solid #ff5033;
            padding: 7px 10px;
            border-radius: 30px;
            background-color: white;

            img {
                width: 20px;
                height: 20px;
            }

            input {
                background-color: white;
                padding-left: 10px;
                outline: none;
                border: none;
                font-weight: 500;
            }
        }

        .avatar {
            border-radius: 50px;
            object-fit: contain;
            width: 40px;
            height: 40px;
        }
    }

    .right,
    .open {
        .ham,
        .close,
        .menuLogo {
            display: none;
        }
    }

    .notOpen {
        right: -300px;
        display: none;
        .ham,
        .close,
        .menuLogo {
            display: none;
        }
    }

    .open {
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        z-index: 9999;
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        z-index: 99999;
        height: 100vh;
        box-shadow: rgba(0, 0, 0, 0.15) -7px 16px 4px 2px;
        transition: display 0.3s ease;

        .top {
            img {
                display: block;
                width: 20px;
            }
        }

        .bottom {
            display: flex;
            flex-direction: column-reverse;

            .imgs {
                display: flex;
                justify-content: space-between;
                width: 100%;

                .avatar {
                    border-radius: 50%;
                    object-fit: contain;
                    width: 40px;
                }
            }

            .search {
                display: flex;
                align-items: center;
                border: 1px solid #ff5033;
                padding: 7px 10px;
                border-radius: 30px;
                background-color: white;

                img {
                    width: 20px;
                    height: 20px;
                }

                input {
                    background-color: white;
                    padding-left: 10px;
                    outline: none;
                    border: none;
                    font-weight: 500;
                }
            }
        }
    }

    .avtar {
        display: none;
    }
}

@media screen and (770px <=width <=1030px) {
}

@media screen and (440px <=width <=770px) {
    .topBar .notOpen {
        display: none !important;
    }
    .topBar .leftSide .pageTitle{
        display: none;
    }
}

@media screen and (width <=440px) {
    .topBar {
        .rightSide {
            display: none !important;
        }

        .leftSide {
            .pageTitle {
                display: none;
            }
        }
    }
    .avtar {
        display: block !important;
    }

    .topBar .leftSide .logo a h3 {
        font-size: 24px;
    }
}

@media screen and (width <=390px) {
}
