header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;

    position: fixed;

    background-color: white;
    width: 95%;
    z-index: 99999;


    .left {
        display: flex;
        align-items: center;
        gap: 20px;

        a {
            display: flex;
            gap: 30px;
        }

        img {
            width: 40px;
        }

        h2 {
            font-size: 26px;
            font-weight: 600;
            color: #413566;

            span {
                font-weight: 600;
                color: #FF5033;
            }
        }
    }

    .right, .open {

        .ham,
        .close,
        .menuLogo {
            display: none;
        }

        nav {
            display: flex;
            align-items: center;
            gap: 80px;

            ul {
                display: flex;
                align-items: center;
                gap: 30px;

                a {

                    li {
                        font-size: 18px;
                        font-weight: 600;
                        color: black;
                        transition: all ease-in .2s;

                        &:hover {
                            color: #FF5033;
                            border-bottom: 1px solid #FF5033;
                        }

                    }
                }
            }

            .btns {
                display: flex;
                align-items: center;
                gap: 20px;

                .langs {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    padding: 5px 10px;
                    border: 2px solid #FF5033;
                    border-radius: 10px;
                    width: 115px;
                    background-color: white;

                    img {
                        width: 20px;
                        height: 20px;
                    }

                    .customSelect {
                        position: relative;
                        width: 100%;
                        background-color: white;
                        select {
                            cursor: pointer;
                            width: 100%;
                            border: none;
                            font-weight: 500;
                            appearance: none;
                            font-size: 14px;
                            outline: none;
                            padding: 0 10px;
                            background-color: white;
                            option{
                                font-weight: 500;
                                padding: 10px;
                                background-color: white;
                            }
                        }

                        span {
                            position: absolute;
                            top: 15%;
                            right: -5%;
                            pointer-events: none;
                            // background-color: white;
                            img {

                                pointer-events: none;
                            }
                        }

                    }

                }

                button {
                    padding: 5px 30px;
                    border-radius: 10px;
                    border: none;
                    background-color: #FF5033;
                    color: white;
                    font-size: 18px;
                    font-weight: 600;
                    cursor: pointer;
                    text-align: center;
                    text-transform: uppercase;
                    transition: all ease-in .2s;

                    &:hover {
                        background-color: #e64023;
                    }
                }
            }
        }
    }

    .notOpen {
        right: -300px;
        display: none;
        .ham,
        .close,
        .menuLogo {
            display: none;
        }
    }

    .open {
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        z-index: 9999;
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        box-shadow: rgba(0, 0, 0, 0.15) -7px 16px 4px 2px;
        transition: right 0.3s ease;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                display: block;
                font-size: 26px;
                font-weight: 600;
                color: #413566;

                span {
                    font-weight: 600;
                    color: #FF5033;
                }
            }

            img {
                display: block;
                width: 20px;
            }
        }

        nav {
            display: flex !important;
            flex-direction: column;
            align-items: flex-start;
            height: 100vh;

            ul {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

}

.active {
    border-bottom: 1px solid #FF5033;

    li {
        color: #FF5033 !important;

    }
}

.scrolled {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (width <=440px) {
    .notOpen {
        right: -300px;
        display: block !important;
    }
    header {


        .right {
            .ham {
                display: block;
            }
        }

        nav {
            display: none !important;
        }

        .open{
            nav{
                .btns{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    background-color: white;
                    .langs{
                        width: 85%;
                        background-color: white;
                    }

                    a{
                        width: 100%;

                        button{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

}