.leftSideBar {
    flex: 1;

    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 20px 0;
    gap: 40px;
    background-color: #413566;

    .logo {
        padding: 0 30px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .active-custom-link {
            background-color: #f5f7fa;
            border-left: 5px solid #ff5033;
            color: #ff5033;
            font-weight: 700;

            img {
                color: #ff5033;
            }
        }
        a {
            li {
                display: grid;
                grid-template-columns: minmax(auto, 40px) auto;
                align-items: center;
                gap: 10px;
                padding: 10px 30px;
                color: white;
                font-size: 18px;
                font-weight: 500;
                transition: all ease-in 0.2s;
                color: white;
                font-size: 18px;
                font-weight: 500;

                &:hover {
                    background-color: #f5f7fa;
                    border-left: 5px solid #ff5033;
                    color: #ff5033;
                    font-weight: 700;
                }
            }
        }
        .active {
            border-bottom: none;

            li {
                background-color: #f5f7fa;
                border-left: 5px solid #ff5033;
                color: #ff5033;
                font-weight: 700;
            }
        }
    }
}

@media screen and (770px <= width <=1030px) {
    .leftSideBar {
        width: 20%;
    }
}
@media screen and (440px <= width <=770px) {
    .leftSideBar {
        width: 25%;

        ul {
            a {
                li {
                    padding: 10px 20px;
                }
            }
            .active li {
                font-weight: 600;
            }
        }
    }
}
@media screen and (width <= 440px) {
    .leftOpen {
        position: fixed;
        left: 0;
        height: 100vh;
        z-index: 99999;
        width: unset !important;
        box-shadow:
            rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
            rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }
    .notLeftOpen {
        left: -300px;
        display: none;
    }
}
@media screen and (width <=390px) {
}
